body {
  background-color: #d5c0ed94 !important;
}

.bg-color {
  background-color: #d5c0ed !important;
}

.btn-color {
  background-color: #a339ed !important;
  border-color: #a339ed !important;
}

.btn-color:hover {
  background-color: #a239edb2 !important;
  border-color: #a339ed !important;
}

.link-color {
  color: #7a25a5 !important;
}

.link-color:hover {
  color: #8330acb0 !important;
}

.title-color {
  color: #7a25a5 !important;
}

.form-container {
  border-left-width: 7px;
  border-right-width: 7px;
  /* border-style: groove; */
  /* border-width: 2px; */
  box-shadow: 0 8px 350px 0 rgb(167, 138, 180);
  align-content: center;
  /* border-color: #ffffff; */
}

.button-btn {
  background-color: #7a25a5 !important;
  border-color: #7a25a5 !important;
  color: white !important;
}

.button-btn:hover {
  background-color: #6c2192 !important;
  border-color: #6c2192 !important;
  color: white !important;
}

.button-btn-outline {
  background-color: #ffffff !important;
  border-color: #7a25a5 !important;
  color: #7a25a5 !important;
}

.button-btn-outline:hover {
  background-color: #ffffff !important;
  border-color: #6c2192 !important;
  color: #6c2192 !important;
}

.button-btn-active {
  background-color: #7a25a5 !important;
  border-color: #7a25a5 !important;
  color: white !important;
}

.button-btn-active:hover {
  background-color: #6c2192 !important;
  border-color: #6c2192 !important;
  color: white !important;
}
